<div class="container">
<h2 class="header">Image Finder</h2>
<form class="gallery-search-form js-search-form">
  <div class="gallery-search-form-content flex-center-wrap">
    <div class="gallery-search-form-input-wrap">
      <label class="gallery-search-form-input-label">
        <input 
        class="gallery-search-form-input" 
        type="text" 
        placeholder="Enter your request" 
        name="query"
        autocomplete="off" />
      </label>
    </div>
    <button class="btn btn-primary button  gallery-search-button" type="submit">Search</button>
  </div>
</form>

<ul class="gallery"></ul>

<button type="button" class="btn btn-primary button " data-action="load-more">
  <span 
  class="spinner-border spinner-border-sm spinner is-hidden" 
  role="status" 
  aria-hidden="true"></span>

  <span class="label">Show more</span>
</button>
</div>