<h2 class="header">Image Finder</h2>
<input class="images-search-input js-search-form" type="text" placeholder="Enter your request" name="search-input"
  autocomplete="off">
<button class="images-search-button" type="submit">Search</button>

<ul class="gallery"> </ul>

<button type="button" class="btn btn-primary button" data-action="load-more">
  <span class="spinner-border spinner-border-sm spinner is-hidden" role="status" aria-hidden="true"></span>

  <span class="label">Показать ещё</span>
</button>